@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/*
font-family: "Lexend Deca", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
/*
font-family: "Big Shoulders Display", sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    color: hsla(0, 0%, 100%, 0.75);    
}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}

p {
    margin: 30px 0;
}

p, 
button {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

button {
    margin-top: 40px;
    cursor: pointer;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container {
    display: flex;
    overflow: hidden;
    border-radius: 10px;    
}

.sedans,
.suvs,
.luxury {
    width: 180px;    
    padding: 40px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}
.sedans button {
    color: hsl(31, 77%, 52%);
    background-color: white;
    border: 0;
    border-radius: 15px;
    padding: 5px 15px;     
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}
.suvs button {
    color: hsl(184, 100%, 22%);
    background-color: white;
    border: 0;
    border-radius: 15px;
    padding: 5px 15px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}
.luxury button {
    color: hsl(179, 100%, 13%);
    background-color: white;
    border: 0;
    border-radius: 15px;
    padding: 5px 15px;
}

@media (max-width: 880px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        border-radius: 0;
        gap: 10px;
        margin: 20px 0;
        overflow: visible;       
    }
    .sedans,
    .suvs,
    .luxury {
        width: 80%;
        border-radius: 5px;                      
    }    
}